:root{
    --head-collor: #ECECEC;
    --main-collor: #2F303A;
    --team-collor: #F5F4FA;
    }
    header{
        background-color: var(--head-collor)
    }
    
    .maininfo{
    background-color: var(--main-collor);
    }
    
    .ourteam{
        background-color: var(--team-collor);
    }
    
    footer{
        background-color: var(--main-collor);
    }