:root{
    --head-collor: #ECECEC;
    --footer-collor: #2F303A;
    --main-collor: #F5F4FA;
    }

header{
    background-color: var(--head-collor);
}

section{
    background-color: var(--main-collor);
}

footer{
    background-color: var(--footer-collor);
}