:root {
  --main-color: #2f303a;
  --background-color: #f5f4fa;
  --main-info-color: #212121;
  --accent-color: #2196f3;
  --header-color: #000;
  --special-color: #fff;
  --info-color: #757575;
  --border-color: #eee;
  --border-bottom-color: #ececec;
  --logo-color: #afb1b8;
}

body {
  font-family: roboto;
}

.about {
  background-color: var(--special-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.project {
  background-color: var(--special-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-box {
  display: flex;
  gap: 50px;
}

.header-nav {
  margin-left: 93px;
  margin-right: auto;
}

header {
  background-color: var(--special-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-bottom-color);
}
footer {
  background-color: var(--main-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imgbackground/herobackground.webp);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main {
  background-color: var(--special-color);
}
.team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.work {
  background-color: var(--special-color);
  padding-bottom: 94px;
}

.header-color {
  color: var(--accent-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-color {
  color: var(--accent-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-logo {
  color: var(--special-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-address {
  color: var(--special-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  display: block;
  margin-top: 20px;
}

.footer-list {
  margin-top: 9px;
}

.footer-item:first-child {
  margin-bottom: 9px;
}

.header-list {
  display: flex;
  gap: 50px;
  position: relative;
}

.header-holder {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--header-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-link{
  color: var(--main-info-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  position: relative;
}
.header-link:hover {
  color: var(--accent-color);
}

.active{
  color: var(--accent-color);
}

.header-link::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -35px;
  opacity: 0;
}

.header-link:hover::after{
  opacity: 1;
  }

  .active::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -35px;
    opacity: 1;
  }

  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.header-contact {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--info-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
/* доробити */

.header-contact:hover {
  color: var(--accent-color);
  .header-svg {
    fill: var(--accent-color);
  }
}

.header-svg {
  width: 16px;
  height: 12px;
  fill: var(--info-color);
}

.footer-contact {
  color: var(--info-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer-container {
  display: flex;
}

.footer-contact:hover {
  color: #2196f3;
}

.svg-list {
  display: flex;
  gap: 10px;
}

.svg-holder {
  margin-left: 70px;
  margin-top: 12px;
}

.social-title {
  color: var(--special-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--special-color);
}
.link-svg {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.link-svg:hover {
  background-color: var(--accent-color);
}

.hero-title {
  color: var(--special-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(--special-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-title {
  color: var(--main-info-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  margin-bottom: 30px;
}

.about-item:nth-child(1)::before {
  background-image: url(../imgbefore/antena.svg);
}

.about-item:nth-child(2)::before {
  background-image: url(../imgbefore/clock.svg);
}

.about-item:nth-child(3)::before {
  background-image: url(../imgbefore/diagram.svg);
}

.about-item:nth-child(4)::before {
  background-image: url(../imgbefore/astronaut.svg);
}

.about-desc {
  color: var(--info-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

.work-title {
  color: var(--main-info-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.position-box {
  position: relative;
}

.position-desc {
  color: var(--special-color);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--special-color);
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-holder {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-title {
  color: var(--main-info-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-name {
  color: var(--main-info-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.team-desc {
  color: var(--info-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team-link {
  display: flex;
  background-color: var(--special-color);
  padding: 12px 12px 12px 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.team-link:hover {
  background-color: var(--accent-color);
  .team-svg {
    fill: var(--special-color);
  }
}

.list-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: var(--logo-color);
}

/* project */

.project-list {
  display: flex;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: var(--special-color);
}

.cart-item {
  outline: solid 1px var(--border-color);
  flex-basis: calc((100% - 60px) / 3);
}

.cart-item:hover{
  .cart-position{
  transform: translateY(0);
  }
}

.cart-title {
  color: var(--main-info-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.cart-desc {
  color: var(--info-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
  margin-top: 4px;
}

.cart-position{
  color: var(--special-color);
font-size: 18px;
font-weight: 400;
line-height: 1.6;
letter-spacing: 0.54px;
position: absolute;
top: 0;
right: 0;
padding: 50px;
background: rgba(33, 150, 243, 0.90);
opacity: 1;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%);
}

.cart-position:hover{
  opacity: 1;
}


.cart-relative{
  position: relative;
  overflow: hidden;
  
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



.project-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.text-holder {
  padding: 20px 24px;
}

.project-holder:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-title {
  color: var(--main-info-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; 
  letter-spacing: 1.08px;
}

.project-desc {
  color: var(--info-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}

.footer-address {
  color: var(--special-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-holder{
margin-left: auto;
margin-top: 10px;
}

.footer-form{
  display: flex;
  gap: 12px;
}

.footer-title{
  color: var(--special-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-input{
  width: 358px;
height: 50px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-left: 16px;
color: var(--special-color);
}

.footer-button{
  width: 200px;
height: 50px;
border-radius: 4px;
background: var(--accent-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.96px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}

.footer-icon{
  width: 24px;
height: 24px;
}

.project-btn {
  color: var(--main-info-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  padding: 6px 22px;
}
.project-btn:hover {
  border-radius: 4px;
  background-color: #2196f3;
  color: var(--special-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clietns-title {
  color: var(--main-info-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-logo {
  width: 170px;
  height: 92px;
  fill: var(--logo-color);
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--logo-color);
}

.clients-logo:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: solid 2px red; */
}

.modal {
  border-radius: 4px;
  background: #fff;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 40px;
  transform: translate(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.is-hidden .modal{
  /* transform: translate(0px, 1000px) */
  transform: scale(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-cross {
  width: 18px;
  height: 18px;
}
.modal-close:focus,
.modal-close:hover {
  border: none;
  outline: 1px solid var(--accent-color);
  .modal-cross {
    fill: var(--accent-color);
  }
}

.modal-title {
  color: var(--main-info-color);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-label {
  color: var(--info-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12px;
  position: relative;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid var(--accent-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12px;
  padding: 12px 16px;
  margin-bottom: 15px;
}

.modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check {
  margin-right: 7px;
}

.modal-desc {
  color: var(--info-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin-right: 5px;
}

.modal-link {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
}
.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 30px;
}

.modal-box {
  display: flex;
  justify-content: center;
}

.modal-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
}
