:root {
  --main-color: #2f303a;
  --background-color: #f5f4fa;
  --main-info-color: #212121;
  --accent-color: #2196f3;
  --header-color: #000;
  --special-color: #fff;
  --info-color: #757575;
  --border-color: #EEE;
}

body {
  font-family: roboto;
}

.about {
  background-color: var(--special-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.project {
  background-color: var(--special-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-box {
  display: flex;
  gap: 50px;
}

.header-nav {
  margin-left: 93px;
  margin-right: auto;
}

header {
  background-color: var(--special-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
footer {
  background-color: var(--main-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.hero {
  background-color: var(--main-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main {
  background-color: var(--special-color);
}
.team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.work {
  background-color: var(--special-color);
  padding-bottom: 94px;
}

.header-color {
  color: var(--accent-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-color {
  color: var(--accent-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-logo {
  color: var(--special-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-address {
  color: var(--special-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  display: block;
  margin-top: 20px;
}

.footer-list{
  margin-top: 9px;
}

.footer-item:first-child{
  margin-bottom: 9px;
}

.header-holder {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--header-color);
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-link {
  color: var(--main-info-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: var(--accent-color);
}

.header-contact {
  color: var(--info-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-contact:hover {
  color: #2196f3;
}

.header-line{
  margin-top: 25px;
}

.footer-contact {
  color: var(--info-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.footer-contact:hover {
  color: #2196f3;
}

.hero-title {
  color: var(--special-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(--special-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.about-list {
  display: flex;
}

.about-title {
  color: var(--main-info-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-desc {
  color: var(--info-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-title {
  color: var(--main-info-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--special-color);
}

.team-holder{
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  color: var(--main-info-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-name {
  color: var(--main-info-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.team-desc {
  color: var(--info-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.project-list {
  display: flex;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: var(--special-color);
}

.cart-item{
  outline: solid 1px var(--border-color);
}

.cart-title {
  color: var(--main-info-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.cart-desc {
  color: var(--info-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
  margin-top: 4px;
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.project-holder{
  padding: 20px 24px;
}

.project-title {
  color: var(--main-info-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.project-desc {
  color: var(--info-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}

.footer-address {
  color: var(--special-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}


.project-btn {
  color: var(--main-info-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  padding: 6px 22px;
}
.project-btn:hover {
  border-radius: 4px;
  background-color: #2196f3;
  color: var(--special-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: solid 2px red;
}
