:root {
    --main-color: #2f303a;
    --background-color: #f5f4fa;
    --main-info-color: #212121;
    --accent-color: #2196f3;
    --header-color: #000;
    --special-color: #fff;
    --info-color: #757575;
    --border-color: #eee;
    --border-bottom-color: #ececec;
    --logo-color: #afb1b8;
  }