.about {
    background-color: $special-color;
    padding-top: 60px;
    padding-bottom: 60px;

      @media screen and (min-width: 1200px){
    padding-top: 94px;
  }

    &__list {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      @media screen and (min-width: 1200px){
        flex-wrap: nowrap;
      }
    }
    
    &__title {
      color: $main-info-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin-bottom: 10px;
      text-align: center;

          @media screen and (min-width: 768px){
      text-align: start;
 }
    }
    
    &__item::before {
      content: "";
      display: block;
      width: 100%;
      height: 120px;
      background-color: $background-color;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70px;
      margin-bottom: 30px;

     @media screen and (min-width: 480px){
     width: 450px;
    }
    @media screen and (min-width: 768px){
    width: 354px;
    }
    @media screen and (min-width: 1200px){
     width: 270px;
    }
    }
    
    &__item:nth-child(1)::before {
      background-image: url(../imgbefore/antena.svg);
    }
    
    &__item:nth-child(2)::before {
      background-image: url(../imgbefore/clock.svg);
    }
    
    &__item:nth-child(3)::before {
      background-image: url(../imgbefore/diagram.svg);
    }
    
    &__item:nth-child(4)::before {
      background-image: url(../imgbefore/astronaut.svg);
    }
    
    &__desc {
      color: $info-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.42px;
      width: 100%;

    @media screen and (min-width: 480px){
    width: 450px;
    }
   @media screen and (min-width: 768px){
   width: 354px;
   }
   @media screen and (min-width: 1200px){
   width: 270px;
  }      
    }
  }

