.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    .clietns__title {
      color: $main-info-color;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
    }
    
    &__list {
      display: flex;
      justify-content: space-between;
    }
    
    &__logo {
      width: 170px;
      height: 92px;
      fill: $logo-color;
      padding: 16px 32px;
      border-radius: 4px;
      border: 1px solid $logo-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__logo:hover {
      fill: $accent-color;
      border: 1px solid $accent-color;
    }
  }
