.header {
  background-color: $special-color;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-bottom-color);

  &__holder {
    display: flex;
    align-items: center;
  }

  &__box {
    display: flex;
    gap: 50px;
  }

  &__nav {
    margin-left: 93px;
    margin-right: auto;
  }

  &__color {
    color: $accent-color;
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__list {
    display: flex;
    gap: 50px;
    position: relative;
  }

  &__logo {
    color: $header-color;
    font-family: raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

    
  &__link{
    color: $main-info-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    position: relative;
  }
  &__link:hover {
    color: $accent-color;
  }
  
  .active{
    color: $accent-color;
  }
  
  &__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -35px;
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__link:hover::after{
    opacity: 1;
    }
  
    .active::after{
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: -35px;
      opacity: 1;
    }
  
  &__contact {
    display: flex;
    gap: 10px;
    align-items: center;
    color: $info-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__contact:hover {
    color: $accent-color;
    .header__svg {
      fill: $accent-color;
    }
  }
  
  &__svg {
    width: 16px;
    height: 12px;
    fill: $info-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}